.am-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}
.amen-btn-D {
  background: #3fd2c7;
  border-radius: 999px;
  box-shadow: #3fd2c7 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.amen-btn-D:hover {
  transform: scale(1.04);
  transition: ease-in 0.3s;
}
.am-input{
width: auto;
height: 5rem;
}

