.list-cen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  align-items: center;
  padding: 10% 30% 10% 30%;
}
.list-crd {
  width: 70vw;

  margin: 1rem;
  box-shadow: 0.25rem 0.5rem 0.5rem rgba(99, 239, 236, 0.13);
  border-radius: 0.5rem;
}
.internal-crd {
  display: flex;
}
.word-txt {
  width: 65vw;
  padding-left: 3rem;
}

.list-img {
  width: 13rem;
  padding-right: 1rem;
  height: 13rem;
}
.req-btn{
    background: #3fd2c7;
  border-radius: 999px;
  box-shadow: #3fd2c7 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  /* hospital-select: none; */
  -webkit-hospital-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.req-res-success-mes{
   color: green;
   margin-top: 10px;
   font-size: 1rem;
}
.req-res-err-mes{
  color: red;
  margin-top: 10px;
   font-size: 1rem;
}
