.log-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Login{
 width: 20rem;
 height: 25rem;  
 border: .0625rem solid black; 
 border-radius: 1.0625rem;
 box-shadow: .25rem .75rem .75rem rgba(0, 0,0,0.29);

}
.submit-btn{
    background-color: #3fd2c7;
    border-radius: 999px;
    box-shadow: #3fd2c7 0 10px 20px -10px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}