.bg-img {
  background: url("../Assets/doctors\ and\ pills.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-content {
  background-color: rgb(142, 141, 141);
  background-color: rgba(158, 157, 157, 0.4);
  color: white;
  font-weight: bold;
  border: 1px solid #f1f1f1;
  border-radius: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 82%;
  height: 70%;
  padding: 200px 100px 0 ;
  padding-top: 10rem;
  text-align: center;
}
.bg-content h2 {
  font-size: 3.125rem;
  text-align: center;
}
.col {
  padding: 0;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.m-crd {
  height: 10rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  
}
.crd-img {
  padding-top: 0.65rem;
  margin-left: 20px;
  width: 6rem;
  height: 6rem;
}
.read-more {
  background: #3fd2c7;
  border-radius: 999px;
  box-shadow: #3fd2c7 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 18px 36px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.read-more:hover {
  transform: scale(1.04);
  transition: ease-in 0.3s;
}
