.otp-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.otp-cont {
  box-shadow: 0.0625rem 0.375rem 1.125rem rgba(0, 0, 0, 0.1);
  width: 70vw;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.625rem;
}
.ver {
  font-size: 2rem;
  padding-top: 2rem;
  color: rgb(129, 128, 127);
}
.first-para {
  margin: 0;
  font-weight: 600;
}
.otp-img {
  width: 30rem;
  height: 30rem;
}
.int-otp {
  margin-bottom: 0.2rem;
}
.resnd-link {
  text-decoration: none;
  color: #3fd2c7;
  font-weight: 540;
}
.resnd-link:hover {
  transform: scale(1.14);
  transition: ease-in 0.1s;
}
.ver-btn {
  background: #3fd2c7;
  border-radius: 22.4375rem;
  box-shadow: #3fd2c7 0 0.625rem 1.25rem -0.625rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 0.5rem 1.125rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-bottom: 1rem;
}
.ver-btn:hover {
  transform: scale(1.04);
  transition: ease-in 0.1s;
}
