<<<<<<< HEAD
=======
/*

#svbox {
  width: 33.625rem;
  position: relative;
  display: inline-block;
}

 */
/* 
.drop-down{
} */


>>>>>>> 2f67d15e1c74052d11b7d778d6162d81ea4c41fc
.srch-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  margin-bottom: 60px;
}
#dropdown-basic-button{
  background-color: white;
  color: rgb(102, 93, 93);
  border-color: aliceblue;
  border: none;
  width: 10vw;
  height: 3vw;
  
}
.srch{
  background-color:white;
  color: rgb(102, 93, 93);
  width: 1.14rem;
  height: 2.3rem;
  border: none;
<<<<<<< HEAD
=======
  font-size: 2px;
  height: 3vw;
>>>>>>> 2f67d15e1c74052d11b7d778d6162d81ea4c41fc
}

#svbox{
  width: 40vw;
  height: 3vw;

}

#svbox > i {
  position: absolute;
  left: 0.75rem;
  top: 0.9375rem;
  font-size: 1rem;
  opacity: 0.5;
 
}
#Sbox {
  width: 100%;
<<<<<<< HEAD
  height: 2.3rem;
  border: none;
  font-size: 1rem;
  font-weight: 200;
=======
  height: 3vw;

  border: 0.0625rem solid #dfe1e5;
  font-size: 0.8125rem;
>>>>>>> 2f67d15e1c74052d11b7d778d6162d81ea4c41fc
  padding: 0.478rem;
  outline: none;
  color: rgb(151, 146, 139);
}
#svbox :hover {
  box-shadow: 0 0.0425rem 0.175rem 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
